<!-- 弃用 -->

<!-- <tr>
  <td data-value=<%=data.checked %>><input type="checkbox" name="one" %>
    <%= +data.checked ? "checked" : "" %>></td>
  <td data-value=<%=data.id %>>
    <%= data.id %>
  </td>
  <td data-value=<%=data.name %>>
    <%= data.name %>
  </td>
  <td data-value=<%=data.age %>>
    <%= data.age %>
  </td>
  <td data-value=<%=data.job %>>
    <%= data.job %>
  </td>
  <td data-value=<%=data.level %>>
    <%= data.level %>
  </td>
  <td>
    <button class="up">
      <%= renderStatic[0] %></button>
    <button class="down">
      <%= renderStatic[1] %></button>
    <button class="del">
      <%= renderStatic[2] %></button>
  </td>
</tr> -->